body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.note {
  width: 250px;
  height: 160px;
  background-color: powderblue;
  padding: 15px;
  border: 1px solid rgb(39, 39, 109);
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 2);
  position: absolute;
  padding: 0;
  width: 300px;
}
.board {
  /* background-color: rgb(215, 249, 250); */
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.button1 {
  position: relative;
  background-color: rgb(39, 39, 109);
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button1:after {
  content: "";
  background: #f1f1f1;
  background-color: whitesmoke;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button2 {
  background-color: white;
  border: none;
  padding: 6px;
  margin: 6px;
  font-weight: bold;
  text-shadow: #f4511e;
  color: black;
  text-align: center;
  text-decoration: black;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
  background-color: rgb(39, 39, 109);
  color: white;
}

.footer {
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.switchIcon,
.lightIcon {
  /* height: 40px !important;
  width: 63px !important; */
  height: 55px !important;
  width: 100px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

.switchIcon svg,
.lightIcon svg {
  /* width: 20px;
  height: 15px; */
  width: 92px;
  height: 28px;
  position: relative;
  top: 4px;
  left: 1px;
}

.switchIcon .MuiIconButton-root {
  padding: 0px !important;
  top: 9px !important;
  left: 10px !important;
  /* left: 7px !important; */
}
.lightIcon .MuiIconButton-root {
  padding: 0px !important;
  top: 9px !important;
  left: -15px !important;
}
.switchIcon .MuiSwitch-track,
.lightIcon .MuiSwitch-track {
  border-radius: 20px;
}

.notes-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.notes-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

#note {
  background: powderblue;
}

.note-icon {
  cursor: pointer;
}

.colors {
  display: flex;
  flex-direction: row;
}

.color-name {
  height: 45px;
  width: 46px;
  cursor: pointer;
}

.yellow:hover,
.green:hover,
.pink:hover,
.purple:hover,
.blue:hover,
.gray:hover,
.charcoal:hover {
  box-shadow: inset 0 2px 7px rgb(155 144 144 / 60%);
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.gray {
  background-color: gray;
}

.charcoal {
  background-color: black;
}

textarea {
  width: 295px;
  height: 250px;
  margin: 0;
  border: unset;
  outline: unset;
  padding-top: 5px;
  padding-left: 5px;
}
